body{
    background-color: red;
}

h1{
    color: pink;
}


.jumbotron {
    margin: 0px 0px 32px;
    padding: 64px 32px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCVYM83bY2kpGMRt-T_6zxhkqwJ3lmkSrs1w&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}